@page "/counter"
@inject HttpClient httpClient

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current value: @currentValue, button hit: @currentHitTime</p>

<button class="btn btn-primary" @onclick="CallExternalApi">Call External API</button>

@code {
    private string currentValue = string.Empty;
    private string currentHitTime = string.Empty;

    private async Task CallExternalApi()
    {
        var response = await
        httpClient.GetAsync("https://9yqzp1qhh7.execute-api.ap-southeast-2.amazonaws.com/CipherCrackerProtectedPing");
        currentHitTime = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss.fff");
        currentValue = await response.Content.ReadAsStringAsync();
    }
}
